logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.bsp
/RUNNING_PID
frontend/node_modules
public/
.DS_Store
lambdas/dist
lambdas/node_modules
lambdas/target
lambdas/tools
project/project/
/nginx/Brewfile.lock.json
/.metals/
/.bloop/
/project/.bloop/
/project/metals.sbt
