<div layout="row" layout-align=" stretch" flex>

    <!-- campaign list -->
    <md-content layout="column" flex="33" style="border-right: 1px solid #BBB" layout-align=" stretch" md-scroll-y ng-cloak>
        <md-list>
            <md-subheader>
                Campaigns <md-icon class="add-button" md-font-set="material-icons" ui-sref="createCampaign">add</md-icon>
            </md-subheader>
            <md-list-item ui-sref-active="selected" class="md-3-line md-clickable" ng-repeat="campaign in campaigns" md-ink-ripple="#AAAAAA">
                <div class="md-list-item-text" layout="column">
                    <div ui-sref="allPromotions.singleCampaign({code: campaign.code})">
                        <h3>{{ campaign.name }}</h3>
                        <p>{{ campaign.code }}</p>
                        <p ng-if="campaign.sortDate">Starts/Started: {{ campaign.sortDate | date:"dd MMM yy 'at' h:mm a"}}</p>
                    </div>
                    <md-icon class="md-secondary" md-font-set="material-icons" ui-sref="editCampaign({code: campaign.code})">mode_edit</md-icon>
                </div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item></md-list-item>
        </md-list>
    </md-content>

    <!-- nested view -->
    <div layout="column" ui-view flex="66">
    </div>
</div>

