<form name="campaignForm" ng-submit="ctrl.save(campaign)">
    <div layout="column" layout-padding>
        <h5>Details</h5>
        <md-input-container>
            <label>Code</label><input type="text" id="code" name="code" ng-model="campaign.code" ng-required="true" ng-disabled="editing">
        </md-input-container>

        <md-input-container>
            <label>Name</label><input type="text" id="name" name="name" ng-model="campaign.name" ng-required="true">
        </md-input-container>
    </div>
    <div>
        <md-button ng-click="ctrl.save(campaign)" class="md-raised md-primary">Update</md-button>
    </div>
</form>