<ng-form layout="column" name="tabForm">
    <h5>Channels/Codes</h5>
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect class="tall-tabs">
        <md-tab layout="column" ng-repeat="channel in channels" label="{{channel.name || 'Enter a name'}}" ng-disabled="selectedIndex != $index && tabForm.$invalid">
            <div layout-align="left center" class="code-tab">
                <ng-form layout="row" name="singleTabForm" class="tab-actions-container">
                    <md-input-container>
                        <label for="name">Channel name</label>
                        <input type="text" id="name" name="name" ng-model="channel.name" required>
                        <div ng-messages="singleTabForm.name.$error" role="alert">
                            <ng-message when="required">Please enter a name</ng-message>
                        </div>
                    </md-input-container>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="ctrl.deleteChannel(channels, channel.name)">
                        <md-icon md-font-set="material-icons">delete_forever</md-icon>
                    </md-button>
                </ng-form>
                <div>
                    <md-input-container ng-repeat="code in channel.codes track by $index" class="code-container">
                        <md-icon md-font-set="material-icons" md-menu-align-target><a target="_blank" href="https://{{ campaignGroupDomain }}/p/{{ channel.codes[$index] }}">open_in_browser</a></md-icon>
                        <label for="code">Promo Code</label>
                        <input type="text" id="code" ng-model="channel.codes[$index]" ng-change="ctrl.codeUpdated(channels, channel.name, channel.codes[$index])">
                    </md-input-container>
                    <md-button class="md-fab md-mini" aria-label="Add code" ng-click="ctrl.addCode(channels, channel.name)" ng-show="channel.codes.length < 10">
                        <md-icon md-font-set="material-icons">add</md-icon>
                    </md-button>
                </div>
            </div>
        </md-tab>
        <md-tab layout="column" label="+"
                ng-disabled="tabForm.$invalid"
                ng-click="ctrl.addChannel('Channel ' + channels.length);" md-on-select="selectedIndex = selectedIndex - 1">
        </md-tab>
    </md-tabs>
</ng-form>