<div layout="column">
    <h5>Channels/Codes</h5>
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
        <md-tab layout="column"  ng-repeat="channel in channels" label="{{channel.name}}">
            <div layout="row" layout-padding>
                <md-input-container ng-repeat="code in channel.codes track by $index">
                    <label for="code">Code</label>
                    <input type="text" id="code" ng-model="channel.codes[$index]" ng-change="ctrl.codeUpdated(channels, channel.name, channel.codes[$index])">
                </md-input-container>
            </div>
            <div layout="row" layout-padding>
                <md-input-container flex=66>
                    <label for="newCode">Code</label>
                    <input type="text" id="newCode" ng-model="newCode">
                </md-input-container>
                <md-button flex=33 ng-click="ctrl.addCode(channels, channel.name, newCode); newCode = '';">Add code</md-button>
                <i class="material-icons mdl-list__item-icon" ng-click="ctrl.deleteChannel(channels, channel)">delete</i>
            </div>
        </md-tab>
    </md-tabs>
    <div layout="row">
        <md-input-container>
            <input class="mdl-textfield__input" type="text" id="channelName" ng-model="newChannelName">
            <label class="mdl-textfield__label" for="channelName">Channel name</label>
        </md-input-container>
        <md-button ng-click="ctrl.addChannel(newChannelName); newChannelName = '';">Add channel</md-button>
    </div>
</div>

