<md-menu>
    <md-button aria-label="Select environment" class="md-icon-button" ng-click="$mdMenu.open($event)">
        <i class="material-icons">menu</i>
    </md-button>
    <md-menu-content width="4" class="md-menu-content">
        <md-menu-item>
            <md-button ng-click="ctrl.setCampaignGroup('digitalpack')">
                <md-icon md-font-set="material-icons" md-menu-align-target>tablet_mac</md-icon>
                Digital Pack
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.setCampaignGroup('newspaper')">
                <md-icon md-font-set="material-icons" md-menu-align-target>description</md-icon>
                Newspaper
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.setCampaignGroup('weekly')">
                <md-icon md-font-set="material-icons" md-menu-align-target>today</md-icon>
                Guardian Weekly
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
