<form>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--2-offset">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" ng-model="promotion.name">
                <label class="mdl-textfield__label" for="name">Promotion name</label>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--2-offset">
            <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows= "3" id="description" style="resize: none">{{promotion.description}}</textarea>
                <label class="mdl-textfield__label" for="description">Description</label>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--2-offset">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="ctrl.save(promotion)">Update</button>
        </div>
    </div>
</form>