<ng-form layout="column">
    <h4>Landing page</h4>

    <md-checkbox aria-label="Does this promo have a landing page" ng-checked="promotion.landingPage !== undefined" ng-click="ctrl.toggleBackup(promotion, backup)">
        This promotion has a landing page
    </md-checkbox>

    <div layout="column" ng-show="promotion.landingPage !== undefined" ng-if="newspaper">
        <md-input-container>
            <label>Description</label>
            <textarea name="landing-description" ng-model="promotion.landingPage.description" delete-empty></textarea>
        </md-input-container>
        <h5>Default product</h5>
        <md-radio-group layout="row" ng-model="promotion.landingPage.defaultProduct">
            <md-radio-button value="voucher" class="md-primary" ng-checked="true">Voucher</md-radio-button>
            <md-radio-button value="delivery">Home Delivery</md-radio-button>
        </md-radio-group>
    </div>

    <div layout="column" ng-show="promotion.landingPage !== undefined" ng-if="!newspaper">
        <grid-image-selector image="promotion.landingPage.heroImage.image" label="a hero image" ng-if="membership" change="ctrl.heroImageChange(promotion.landingpage.heroImage.alignment)"></grid-image-selector>
        <div layout="column" ng-show="membership && promotion.landingPage.heroImage !== undefined">
            <h5>Hero image alignment</h5>
            <md-radio-group layout="row" ng-model="promotion.landingPage.heroImage.alignment">
                <md-radio-button value="top" class="md-primary">Top</md-radio-button>
                <md-radio-button value="centre">Centre</md-radio-button>
                <md-radio-button value="bottom">Bottom</md-radio-button>
            </md-radio-group>
        </div>
        <md-input-container>
            <label>Title</label><input name="title" ng-model="promotion.landingPage.title" delete-empty/>
        </md-input-container>
        <md-input-container ng-show="membership">
            <label>Subtitle</label><input name="subtitle" ng-model="promotion.landingPage.subtitle" delete-empty>
        </md-input-container>
        <md-input-container>
            <label>Description</label>
            <textarea name="landing-description" ng-model="promotion.landingPage.description" delete-empty></textarea>
        </md-input-container>
        <md-input-container>
            <label>Product page price card</label><textarea name="roundel-html" ng-model="promotion.landingPage.roundelHtml" delete-empty></textarea>
        </md-input-container>

        <grid-image-selector ng-show="false" image="promotion.landingPage.image" label="an image"></grid-image-selector>

    </div>
</ng-form>
