<div layout="column">
    <h5>Promotion type</h5>
    <md-tabs md-dynamic-height md-selected="selectedTab" ng-init="ctrl.setupSelectedTab(promotion)">

        <!-- Incentives -->
        <md-tab label="Incentive" ng-click="ctrl.setPromotionType(promotion.promotionType.name, 'incentive')">
            <md-content class="md-padding md-tab-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Redemption instructions</label>
                    <input ng-model="promotion.promotionType.redemptionInstructions">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Terms and conditions</label>
                    <input ng-model="promotion.promotionType.termsAndConditions" delete-empty>
                </md-input-container>
            </md-content>
        </md-tab>

        <!-- Free trials -->
        <md-tab label="Free trial" ng-click="ctrl.setPromotionType(promotion.promotionType.name, 'free_trial')">
            <md-content class="md-padding md-tab-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Duration (days)</label>
                    <input type="number" ng-model="promotion.promotionType.duration">
                </md-input-container>
            </md-content>
        </md-tab>

        <!-- Percent discounts -->
        <md-tab label="Discount" ng-click="ctrl.setPromotionType(promotion.promotionType.name, 'discount')">
            <md-content class="md-padding md-tab-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Duration (months)</label>
                    <input type="number" ng-model="promotion.promotionType.durationMonths" delete-empty>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Amount (%)</label>
                    <input type="number" ng-model="promotion.promotionType.amount" delete-empty>
                </md-input-container>
            </md-content>
        </md-tab>

        <!-- Tracking -->
        <md-tab label="Tracking" ng-click="ctrl.setPromotionType(promotion.promotionType.name, 'tracking')">
            <md-content class="md-padding md-tab-content"></md-content>
        </md-tab>
    </md-tabs>
</div>