<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <h5>Campaigns</h5>
        <ul class="mdl-list">
            <li class="mdl-list__item" ng-repeat="campaign in campaigns">
                <span class="mdl-list__item-primary-content mdl-js-ripple-effect" ui-sref="singleCampaign({code: campaign})">
                  <span>{{campaign}}</span>
                </span>
            </li>
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <h5>Promotions</h5>
        <ul class="mdl-list">
            <li class="mdl-list__item mdl-list__item--two-line" ng-repeat="promotion in promotions" ui-sref="editPromotion({uuid: promotion.uuid})">
                <span class="mdl-list__item-primary-content">
                  <span>{{promotion.name}}</span>
                  <span class="mdl-list__item-sub-title" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
                    {{promotion.description}}
                  </span>
                </span>
            </li>
        </ul>
    </div>
</div>

