<form name="promotionForm">
    <div layout="column" layout-padding>

        <md-input-container class="mdl-cell mdl-cell--12-col md-block">
            <label>Name</label><input name="name" ng-model="promotion.name" required>
        </md-input-container>

        <md-input-container class=" mdl-cell mdl-cell--12-col md-block">
            <label>Description</label><textarea ng-model="promotion.description" name="description" rows="3" required></textarea>
        </md-input-container>


        <div layout="row"  layout-align="center top">

            <rate-plan-list product-rate-plan-ids="promotion.appliesTo.productRatePlanIds"></rate-plan-list>

            <div layout="column" flex layout-align="top center">
                <h5>Availability</h5>
                <div layout="column">
                    <md-checkbox ng-model="selectedCountryGroups[group.id]" aria-label="{{group.name}}" ng-repeat="group in countryGroups" ng-change="ctrl.applyCountryGroups(selectedCountryGroups)">
                        {{group.name}}
                    </md-checkbox>
                </div>

            </div>
        </div>
        <channel-codes promotion="promotion"></channel-codes>
        <promotion-type promotion="promotion"></promotion-type>
        <promotion-dates promotion="promotion"></promotion-dates>

        <landing-page landing-page="promotion.landingPage"></landing-page>
        <div>
            <md-button ng-click="ctrl.save(promotion)" class="md-raised md-primary">Update</md-button>
        </div>
    </div>
</form>