<div class="mdl-grid">
    <h5 class="mdl-cell mdl-cell--12-col">Promotion type</h5>

    <div class="mdl-cell mdl-cell--3-col" ng-repeat="(name, label) in types">
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-{{name}}">
            <input type="radio" id="option-{{name}}" class="mdl-radio__button" name="promotionType" value="{{name}}" ng-checked="promotion.promotionType.name == name" ng-click="ctrl.setPromotionType(promotion.promotionType.name, name)">
            <span class="mdl-radio__label">{{label}}</span>
        </label>
    </div>


    <!-- Incentives -->
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col" ng-if="promotion.promotionType.name == 'incentive'">
        <input class="mdl-textfield__input" type="text" id="redemptionInstructions" ng-model="promotion.promotionType.redemptionInstructions">
        <label class="mdl-textfield__label" for="redemptionInstructions">Redemption instructions</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col" ng-if="promotion.promotionType.name == 'incentive'">
        <textarea class="mdl-textfield__input" type="text" rows= "3" id="tsandcs" delete-empty="promotion.promotionType.termsAndConditions"></textarea>
        <label class="mdl-textfield__label" for="tsandcs">Terms & conditions</label>
    </div>


    <!-- Free trials -->
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col" ng-if="promotion.promotionType.name == 'free_trial'">
        <input class="mdl-textfield__input" type="number" id="duration" ng-model="promotion.promotionType.duration">
        <label class="mdl-textfield__label" for="duration">Duration (days)</label>
    </div>


    <!-- Percent discounts -->
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col" ng-if="promotion.promotionType.name == 'percent_discount'">
        <input class="mdl-textfield__input" type="number" id="durationMonths" delete-empty="promotion.promotionType.durationMonths">
        <label class="mdl-textfield__label" for="duration">Duration (months)</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col" ng-if="promotion.promotionType.name == 'percent_discount'">
        <input class="mdl-textfield__input" type="number" id="amount" ng-model="promotion.promotionType.amount">
        <label class="mdl-textfield__label" for="duration">Amount (%)</label>
    </div>
</div>

