<div layout="column" ng-repeat="(planKey, plans) in ratePlans" ng-show="planKey == campaignGroup">
  <h5>Rate plans</h5>
  <div>
    <md-checkbox ng-model="ratePlanIds[plan.ratePlanId]" aria-label="{{plan.ratePlanName}}" ng-repeat="plan in plans"
                 ng-change="ctrl.applyRatePlans(ratePlanIds)">
      {{plan.ratePlanName}}
      <span ng-if="discount && plan.price">
                <s>£{{plan.price | number: 2 }} </s> <md-icon md-font-set="material-icons">arrow_forward</md-icon>
                <strong>£{{plan.price - (plan.price*discount/100) | number:2 }} </strong>
            </span>
    </md-checkbox>
  </div>
</div>
