name: Build memsub-promotions

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

jobs:
  memsub-promotions:
    if: >-
      (github.event.pull_request.head.repo.owner.login == 'guardian' ||
        github.event_name == 'push')
    # Required by actions-assume-aws-role
    permissions:
      id-token: write
      contents: read

    name: memsub-promotions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "./frontend/.nvmrc"

      - name: Test + build
        working-directory: ./frontend
        run: |
          npm install
          npm run compile

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          aws-region: eu-west-1

      - name: Setup Java 11
        uses: actions/setup-java@v5
        with:
          distribution: "corretto"
          java-version: "11"
      - uses: actions/cache@v3
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
            ~/.coursier
          key: sbt

      - name: Install sbt
        id: sbt
        uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14

      - name: riffraff
        run: |
          export LAST_TEAMCITY_BUILD=700
          export GITHUB_RUN_NUMBER=$(( $GITHUB_RUN_NUMBER + $LAST_TEAMCITY_BUILD ))

          sbt clean riffRaffUpload
